input[type=text], mat-form-field { width: 100%; }

.card-margin {
  text-align: center;
  margin-bottom: 30px;
}

.text-margin {
  text-align: center;
  margin-bottom: 30px;
}

.value {
  font-size: 26px;
  line-height: 20px;
  text-overflow: ellipsis;
  font-weight: 500;
}

.k-numerictextbox {
  width: 100%;
  min-width: 200px;
}
